.ui.button {
  cursor: pointer;
  text-align: center;
  font-smoothing: antialiased;
  display: inline-block;
}
.ui.button.disabled {
  cursor: default;
}
button.ui.button {
  font-family: inherit;
  outline: none;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
