$color_default = #bdc3c7
$color_hover = #cacfd2
$color_active = #a1a6a9

.ui.button
  cursor pointer
  text-align center
  font-smoothing antialiased
  display inline-block

  &.disabled
    cursor default

button.ui.button
  font-family inherit
  outline none
  appearance none
  -ms-appearance none
  -moz-appearance none
  -webkit-appearance none

