$color_default = #bdc3c7
$color_hover = #cacfd2
$color_active = #a1a6a9

.ui.button
  cursor pointer
  text-align center
  font-smoothing antialiased
  display inline-block
  line-height 20px
  padding-left 10px
  padding-right 10px
  background-color $color_default

  &:hover
    background-color $color_hover

  &:active
    background-color $color_active

  &.disabled
    cursor default

button.ui.button
  font-family inherit
  border 0
  outline none
  border-radius 0
  appearance none
  -ms-appearance none
  -moz-appearance none
  -webkit-appearance none
